<div class="sidebar-pages">
<a class="navlink" href="#welcome" aria-expanded="false"><i class="fa fa-home"></i> Welcome</a>
<a class="navlink" href="#overview" aria-expanded="false"><i class="fa fa-list"></i> Overview</a>
<a class="navlink" href="#programs" aria-expanded="false"><i class="fa fa-info-circle"></i> useR! Programs </a>
<a class="navlink" href="#organizational-information" aria-expanded="false"><i class="fa fa-building-o"></i> Organisational Info</a>
<a class="navlink" href="#participation" aria-expanded="false"><i class="fa fa-users"></i> Participation </a>
</div>


<br/>

<div style="bottom: 0; position: absolute; padding-left:5px;">
    <a href="https://gitlab.com/rconf/userinfoboard/" target="_blank"><i class="fa fa-gitlab fa-2x fa-inverse"></i></a>
  </div>